* {
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    background-color: #8EC5FC;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-image: url('imagenes/main.gif');
    background-size:cover;
    height:94.7vh;
}

/*video*/

video {
        position: fixed;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 636.5px;
        transform: translateX(calc((100% - 100vw) / 2));
        z-index: -2;
    
    
}


main {
    width: 580px;
    margin: 30px auto;
    display: flex;
    align-items: center;
}

.section1 {
    background-color: rgba(240, 248, 255, 0.5);
    padding: 0 10px 10px 10px; /* top left down right*/
    border-radius: 8px;
    color: aliceblue; /* COLOR TITULO JUEGO DE MEMORIA*/
}

h1 {
    text-align: center ;
}

button {
    width: 95px;
    height: 95px;
    font-size: 40px;
    color: rgb(255, 255, 255)  ;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

.section2 {
    background-color: rgba(255, 255, 255, 0.295);
    border-top-right-radius: 8px ;
    border-bottom-right-radius: 8px ;
    width: 250px;
    height: 400px;
    padding: 0 20px;
    color: azure; /* TEXTO ESTADISTICAS COLOR*/
}

.estadisticas {
    border: 3px solid rgb(255, 255, 255);
    height: 105px;
    border-radius: 8px;
    padding: 8px 20px 8px 20px ; /* top left down right*/
    box-sizing: border-box;
}

footer {
    text-align: center;
    font-size: 18px;
    color: aliceblue;
}
a {
    text-decoration: none;
    color: rgb(97, 172, 96);
    font-weight: bold;
}



@media (max-width: 720px) { 
    body {
        height: 100vh;
    }

    button {
        width: 18vw;
        height: 12vh;
        font-size: 1.2em;
        color: rgb(255, 255, 255)  ;
        font-weight: bold;
    }

    main {
        padding: 15px 0px 0px 0px;
        width: 90vw;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section2 {
        margin: 10px 0px 0px 0px;
        display: flex;
        width: 80vw;
        flex-wrap: wrap;
        height: 22vh;
        justify-content: center;
        padding: 2px 0px 0px 0px;
        text-align: center;
        

    }
    
    .estadisticas {
        height: 12vh;
        width: 35vw;
        display: flex;
        font-size: 1.2em;
        margin: 0px 5px;
        padding: 4px;
        align-items: center;
        justify-content: center;
       
    }

    #t-restante {
        width: 90vw;
        height: 8vh;
    }
}

@media (max-width: 340px) {
    button {
        height: 9.5vh;
    }
}
